<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kariaki.choice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".Choice"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.registrationandlogin.InputPhoneNumber" />
        <activity android:name=".ui.registrationandlogin.AuthenticationPage" />

        <service android:name=".notification.PushNotificationService" />

        <activity android:name=".databasetest.TestPage" />
        <activity android:name=".ui.profiles.EditAboutPage" />
        <activity android:name=".ui.profiles.EditProfilePage" />
        <activity android:name=".ui.chat.ChatVideoViewer" />
        <activity
            android:name=".ui.chat.ImageViewer"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".ui.chat.ChatPage"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ui.profiles.socialactivities.SocialActivity" />
        <activity android:name=".ui.settings.AccountSettings" />
        <activity android:name=".ui.settings.NotificationSettings" />
        <activity
            android:name=".ui.comment.CommentPage"
            android:theme="@style/MyThemeNoActionBarSlide" />
        <activity android:name=".ui.profiles.ViewProfilePicture" />
        <activity android:name=".ui.post.viewer.PostVideoViewer" />
        <activity android:name=".ui.post.viewer.PostImageViewer" />
        <activity android:name=".ui.settings.ChatSettingsActivity" />
        <activity android:name=".ui.settings.PrivacySettingsActivity" />
        <activity android:name=".ui.profiles.SettingsPage" />
        <activity android:name=".ui.makepost.VideoPost" />
        <activity android:name=".ui.makepost.FinishPost" />
        <activity android:name=".ui.makepost.ImagePost" />
        <activity android:name=".ui.comment.DragDismiss" />
        <activity android:name=".ui.groupchat.CreateGroupChat" />
        <activity android:name=".ui.groupchat.GroupChatMembers" />
        <activity android:name=".ui.groupchat.GroupChatProfile" />
        <activity android:name=".ui.groupchat.GroupEditMembersOrAdmin" />
        <activity
            android:name=".ui.profiles.SocialProfile"
            android:theme="@style/MyThemeNoActionBarSlide" />
        <activity android:name=".ui.settings.PostSettings" />
        <activity android:name=".ui.makepost.TextPost" />
        <activity android:name=".ui.registrationandlogin.RegisterUser" />
        <activity android:name=".ui.mainpage.SearchPage" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".LaunchPage"
            android:theme="@style/MyThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>